@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

:root{
    --grey: #181818;
}

body {
    margin: 0;
    color: var(--grey);
    font-family: serif;
}
h1, h2, h3 {
    margin: 0;
}

header {
    background-color: var(--grey);
    color: #fff;
    box-shadow: 0 0 10px #000;
    display: flex;
    align-items: center;
    padding: 15px;
}
header, #titles {
    padding-left: 50px;
}
h1 {
    font-family: "Fira Mono", monospace;
    font-size: 96px;
}
h2 {
    font-size: 18px;
    padding-left: 1em;
}
h3 {
    font-size: 28px;
    padding-left: 3em;
}

.cli {
    padding: 20px 0;
    color: #fff;
}
.cli > div {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 4px;
    max-width: 500px;
    margin: 0 auto;
    padding: .5em 0;
}
kbd {
    padding: .3em 1em;
    font-family: monospace;
}
kbd:before {
    content: "$ ";
}

.github-corner {
    position: absolute;
    top: 0;
    right: 0;
}
.github-corner > svg {
    fill: #fff;
    color: var(--grey);
}
.github-corner .octo-arm {
    transform-origin: 130px 106px;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 790px){
    header, #titles {
        padding-left: 30px;
    }
    header img {
        height: 200px;
    }
    h1 {
        font-size: 74px;
    }
    h3 {
        padding: 0 1em;
    }
}
@media (max-width: 500px){
    header, #titles {
        padding-left: 15px;
    }
    header img {
        height: 100px;
    }
    h1 {
        font-size: 52px;
    }
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
@media (max-width: 310px){
    header img {
        display: none;
    }
    #titles {
        padding-left: 0;
    }
}
