@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

:root{
    --grey: #181818;
    --light-grey: #ccc;
}

body {
    margin: 0;
    color: var(--grey);
    font-family: "Fira Mono", monospace;
}
h1, h2, h3 {
    margin: 0;
}

header {
    background-color: var(--grey);
    color: #fff;
    box-shadow: 0 0 10px #000;
    display: flex;
    align-items: center;
    padding: 15px;
}
header, #titles {
    flex: 1 0 1px;
    padding-left: 50px;
}

#enterprise {
    flex: 1 0 1px;
    text-align: center;
}
#enterprise a {
    display: inline-block;
    background-color: var(--light-grey);
    border: none;
    color: #000;
    text-decoration: none;
    line-height: 4em;
    padding: 0 2em;
    margin: .5em 0;
    white-space: nowrap;
}
#enterprise a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 96px;
}
h2 {
    font-size: 18px;
    padding-left: 1em;
}
h3 {
    font-size: 28px;
    padding-left: 3em;
    padding-top: 1em;
}
p {
    margin: 0;
    padding: 1em;
    max-width: 80ch;
}

.cli {
    padding: 20px 0;
    color: #fff;
}
.cli > div {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 4px;
    max-width: 500px;
    margin: 0 auto;
    padding: .5em 0;
}
kbd {
    padding: .3em 1em;
    font-family: monospace;
}
kbd:before {
    content: "$ ";
}

.github-corner {
    position: absolute;
    top: 0;
    right: 0;
}
.github-corner > svg {
    fill: var(--light-grey);
    color: var(--grey);
}
.github-corner .octo-arm {
    transform-origin: 130px 106px;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 1200px){
    header, #titles {
        padding-left: 30px;
    }
    #enterprise {
        padding-right: 30px;
    }
    header img {
        height: 200px;
    }
    h1 {
        font-size: 74px;
    }
    h3 {
        padding-left: 1em;
    }
}
@media (max-width: 730px){
    header, #titles {
        padding-left: 15px;
    }
    header img {
        height: 100px;
    }
    #enterprise {
        padding-right: 40px;
    }
    #enterprise a {
        line-height: 3em;
        padding: 0 1em;
        margin: .25em 0;
    }
    h1 {
        font-size: 52px;
    }
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
@media (max-width: 540px){
    header {
        flex-direction: column;
    }
    #enterprise {
        padding: 15px 0 0 0;
    }
}
@media (max-width: 310px){
    #titles {
        padding-left: 0;
    }
}
